* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #333;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 20px;
}

.logo {
	margin-right: 20px;
}

.logo img {
	height: 50px;
}

nav {
	flex-grow: 1;
}

nav a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
	transition: background-color 0.3s ease-in-out;
}

nav a:hover {
	background-color: #fff;
	color: #333;
}

.content {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	text-align: center;
}

.content h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.content p {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 20px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 40px 0;
}

footer img{
    margin-right: 10px;
}

.contact {
	margin-bottom: 20px;
}

.contact p {
	font-size: 20px;
	line-height: 1.6;
}

.contact a {
	color: #333;
}

/* Style the footer */
footer {
	background-color: #333;
	text-align: bottom;
    position:fixed;
    width:100%;
	bottom:0;
}

.copy {
	margin-top: 20px;
}

#myDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
  }
  
  .content-container {
	position: relative;
	width: auto; /* Width of the container */
	height: 475px; /* Height of the container */
	overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .content {
	width: 100%;
	height: 1000px; /* Height of the content, must be larger than the container */
  }
  
  .scroll-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px; /* Width of the scroll bar */
	height: 100%; /* Height of the scroll bar */
	background-color: #f1f1f1; /* Background color of the scroll bar */
  }
  
  .scroll-thumb {
	width: 100%;
	height: 50px; /* Height of the scroll thumb */
	background-color: #c1c1c1; /* Background color of the scroll thumb */
	cursor: pointer;
  }
  
  .box {
	width: 200px;
	height: 100px;
	background-color: #00bcd4;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
  }
  
  .box:hover {
	transform: translateY(-30px);
  }

  .image-container {
	position: relative;
	width: 300px;
	height: 200px;
	overflow: hidden;
  }
  
  .image-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .caption {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .caption-title {
	margin: 0;
	color: #fff;
  }
  
  .caption-description {
	margin: 5px 0 0;
	color: #ddd;
  }
  
  .image-container:hover .caption {
	opacity: 1;
	transform: translateY(0);
  }